body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 
body::-webkit-scrollbar-thumb{
    background-color: #6B7280;
}
.hover-target:hover .hidden-footer-section{
    display: block;
}
.-mt-38{
    margin-top: -11rem !important;
}